<div class="row">
  <div class="small-12 columns text-center title"><span class="editable" role="title">Campaign Summary</span></div>
</div>
<div class="row list" role="list">
  <div class="small-4 columns">&nbsp;<span class="editable" role="key">MASTER CAMPAIGN #:</span></div>
  <div class="small-8 columns">&nbsp;<span class="editable" role="text">{{DisplayName}}</span></div>
  <div class="small-4 columns">&nbsp;<span class="editable" role="key">CLIENT NAME:</span></div>
  <div class="small-8 columns">&nbsp;<span class="editable" role="text">{{ClientName}}</span></div>
  <div class="small-4 columns">&nbsp;<span class="editable" role="key">CONTACT NAME:</span></div>
  <div class="small-8 columns">&nbsp;<span class="editable" role="text">{{ContactName}}</span></div>
  <div class="small-4 columns">&nbsp;<span class="editable" role="key">TARGETING METHOD:</span></div>
  <div class="small-8 columns">&nbsp;<span class="editable" role="text">{{targetMethod}}</span></div>
  <div class="small-4 columns">&nbsp;<span class="editable" role="key">TOTAL HOUSEHOLDS:</span></div>
  <div class="small-8 columns">&nbsp;<span class="editable" role="text">{{formatNumber TotalHouseHold}}</span></div>
  <div class="small-4 columns">&nbsp;<span class="editable" role="key">TARGET HOUSEHOLDS:</span></div>
  <div class="small-8 columns">&nbsp;<span class="editable" role="text">{{formatNumber TargetHouseHold}}</span></div>
  <div class="small-4 columns">&nbsp;<span class="editable" role="key">PENETRATION:</span></div>
  <div class="small-8 columns">&nbsp;<span class="editable" role="text">{{formatNumber Penetration style="percent"}}</span></div>
</div>
<div class="row">
  <div class="small-12 columns text-center title"><span class="editable" role="title">Campaign Summary Map</span></div>
</div>
<div class="row collapse">
  <div class="small-12 columns">
    <div class="map-container" role="map" color="false" legend="true">
      <div class="loading hexdots-loader"></div>
    </div>
    <div class="small-12 columns">
      <div class="color-legend">
      </div>
      <div class="direction-legend"></div>
    </div>
  </div>
</div>
{{> footer }}
