<div class="row">
  <div class="small-12 columns text-center title"><span class="editable" role="title">DM MAP {{dmap.Id}}({{dmap.Name}})</span></div>
</div>
<div class="row list" role="list">
  <div class="small-4 columns">&nbsp;<span class="editable" role="key">DM MAP #:</span></div>
  <div class="small-8 columns">&nbsp;<span class="editable" role="text">{{dmap.Id}}</span></div>
  <div class="small-4 columns">&nbsp;<span class="editable" role="key">DISTRIBUTION MAP NAME</span>:</div>
  <div class="small-8 columns">&nbsp;<span class="editable" role="text">{{dmap.Name}}</span></div>
  <div class="small-4 columns">&nbsp;<span class="editable" role="key">TOTAL</span>:</div>
  <div class="small-8 columns">&nbsp;<span class="editable" role="text">{{formatNumber dmap.Total}}</span></div>
</div>
<div class="row">
  <div class="small-12 columns text-center title mapTitle"><span class="editable" role="title">{{DisplayName}} - {{dmap.Name}}</span></div>
</div>
<div class="row collapse">
  <div class="small-12 columns">
    <div class="map-container" role="map">
      <div class="loading hexdots-loader"></div>
    </div>
  </div>
</div>