{{#each this}}
<tr>
  <td>{{math @index "+" 1}}</td>
  <td>{{Name}}</td>
  <td>
	{{#if TotalHouseHold}}
		{{formatNumber TotalHouseHold}}
	{{else}}
		0
	{{/if}}
  </td>
  <td>
  	{{#if TargetHouseHold}}
  		{{formatNumber TargetHouseHold}}
  	{{else}}
		0
  	{{/if}}
  </td>
  <td>
	{{#if Penetration}}
  		{{formatNumber Penetration style="percent"}}
  	{{else}}
		0%
  	{{/if}}
  </td>
</tr>
{{/each}}